---
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import AstroIcon from "./icons/AstroIcon.vue"
import VueIcon from "./icons/VueIcon.vue"
import HtmlIcon from "./icons/HtmlIcon.vue"
import CssIcon from "./icons/CssIcon.vue"
import SassIcon from "./icons/SassIcon.vue"

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-[#451a03] text-white",
    icon: AstroIcon,
  },
  VUEJS: {
    name: "Vuejs",
    class: "bg-[#022c22] text-white",
    icon: VueIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#451a03] text-white",
    icon: HtmlIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CssIcon,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#4c0519] text-white",
    icon: SassIcon,
  },
}
const PROJECTS = [
  {
    title: "Portfolio de Paulo Antonio",
    description:
      "Portfolio de Paulo Antonio, desarrollado con Astro, Vue y Tailwind CSS.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/captura-portfolio.webp",
    tags: [TAGS.ASTRO, TAGS.VUEJS, TAGS.TAILWIND],
  },
  {
    title: "Landing Page POWER SPORTS",
    description:
      "Landing Page POWER SPORTS para demostrar sólidos conocimientos en HTML, CSS Y SASS",
    link: "https://antoniougarte.github.io/sports-landing/",
    github: "https://github.com/antoniougarte/sports-landing",
    image: "/projects/sport-landing-captura.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.SASS],
  },
]
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="mb-24">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty text-gray-200">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 "
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
